
<div class="bg-white rounded-2xl shadow-lg overflow-hidden border border-gray-200">

    {% if item.imagem %}
        <img src="{{ url_for('static', filename='uploads/' ~ item.imagem) }}"
             class="w-full h-56 object-cover">
    {% else %}
        <div class="w-full h-56 bg-gray-300 flex items-center justify-center text-gray-600">
            Sem imagem
        </div>
    {% endif %}

    <div class="p-4">
        <p class="text-sm text-gray-700">
            <strong>idade:</strong> {{ item.idade }}<br>
            <strong>Nome:</strong> {{ item.nome }}<br>
            <strong>Estado:</strong> {{ item.dono.estado }}<br>
            <strong>Cidade:</strong> {{ item.dono.cidade }}
        </p>
    </div>

</div>


